

body{
    font-family: 'Raleway', sans-serif;

    font-size:18px;
    margin:0;
    padding:0;
    letter-spacing: 0.02em;
    word-spacing: .15em;
	
}

h1{
    font-size: 1.85em;
    top: 0px;
    right:0;
    width: 500px;
    height: 10px;
	letter-spacing: 0.06em;

	
   
}

p{
	
    top:100px;
    right:50px;
	height:auto;
	letter-spacing: 0.1em;
   
	
	
	
}




ul.top-nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color:black;
}
ul.top-nav li{
    float:left;
    margin:0 2.4% 0 5%;
	background-color:White;
	
}
ul.top-nav li.icon {
    display: none;
}

img{
  
    height:auto;
	max-width:100%;
	display: flex;


	
    
   
   
  
    
	
}

p, h1, h2, h3{
   
    padding-left: 8.333333333333%;
    padding-right: 8.333333333333%;
}


.col-sm-6{
    width:48.611111111111%;/* 175 px */
    float:left;
}

.right{
    margin-right:2.777777777778%;
}


.col-sm-6 h2, .col-sm-6 p, .col-sm-6 h3{
    padding-left: 17.142857142857%;/* (30/175)*100 = */
    padding-right: 17.142857142857%;
}

.column{
        float:left;   
}

footer{
    width:inherit;
    float:left;
}

@media only screen and (max-width: 680px) {
    nav{
        width:100%;
        position:fixed;
        top:0;
        left:0;
    }
    ul.top-nav li{
        display: none;
    }
    ul.top-nav li.icon {
        display: inline-block;
        float: right;
    }
    ul.top-nav li a img{
        width:auto;
    }
   ul.top-nav li:first-child{
        display:block;
    }
    h1{
        margin-top: 2.5em;   
    }
}
@media only screen and (max-width: 680px) {
    ul.top-nav.responsive {
        position:relative;
    }
    ul.top-nav.responsive li.icon{
        position:absolute;
        right:0;
        top:0;
    }
    ul.top-nav.responsive li{
        float:none;
        display: inline;
    }
    ul.top-nav.responsive li a{
        display: block;
        text-align: left;
    }
    ul.top-nav.responsive li:first-child{
        display:none;
    }
}



@media only screen and (min-width:681px) and (max-width:1024px){

    
    .column{
        width:45%; 
        margin-left: 5%;
    }
    
    .column img{
        width:85%;
        margin-left:8%;
    }
    
    .left{
    margin-left: 0;   
    }
    
    .col-md-3{
        width:22.5%;  
    }
    
    .gutter-right{
        margin-right:2.777777777778%;
    }
}



@media only screen and (min-width:1025px){
    .column{
        width:22.5%; 
        margin-left:2%;
    }
    .col-md-3{
        width:22.5%;  
    }
    .col-sm-6{
       margin-top:5em; 
    }
    
    .gutter-right{
        margin-right:2.777777777778%;
    }
    .col-md-3 img {
        width:50%;  
        margin-left:18%;
    }
}



img{
    margin-right: auto;
    height: auto;
	max-width: 100%;
	
}
















